# Python
.venv/
venv/
__pycache__/
*.pyc

# Node
node_modules/
frontend/node_modules/

# Database
*.db

# Uploads
uploads/
backend/uploads/
backend/known_faces/
backend/unknown_faces/

# Models
trainer/
*.yml
*.h5
*.pb
*.pkl

# Environment
.env

# Build
dist/
build/

# IDE
.vscode/

# OS
.DS_Store
Thumbs.db
# Dataset
dataset/
*.jpg
*.jpeg
*.png
.idea/
*.iml
*.csv
# Python
venv/
.venv/
__pycache__/
*.pyc

# Node
node_modules/

# Env
.env

# IDE
.idea/
.vscode/

# Build
dist/